# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

    1. Python
    2. SQL
    3. R

### Some of the commonly used libraries used by Data Scientists include:

    1. NumPy: A powerful library for numerical operations in Python, providing support for large, multi-dimensional arrays and matrices, along with mathematical functions to operate on these arrays
    2. Pandas: A data manipulation and analysis library that provides data structures like DataFrame, which is particularly useful for handling and analyzing structured data.
    3. Scikit-learn: A machine learning library in Python that provides simple and efficient tools for data mining and data analysis. It includes various algorithms for classification, regression, clustering, and more, along with utilities for model selection and evaluation.


| Data Science Tools |
|-------------|
| Jupyter Notebooks  |
| RStudio            |
| VS Code (Visual Studio Code)      |
| ...         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#Addition
result = 5 + 3
print(result)  # Output: 8

#Subtraction (-):
result = 7 - 4
print(result)  # Output: 3

#Multiplication (*):
result = 6 * 2
print(result)  # Output: 12

8
3
12

## Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

## Exercise 9 - Create a code cell to convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by diving by 60

convert = (200/60 )
print(convert)

3.3333333333333335

## Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- Introduce key programming languages for Data Science.
- Explore common libraries used in Data Science projects.
- Understand the importance of open-source tools in Data Science development.
- Demonstrate the creation of a single-column table in Jupyter Notebook using Markdown.
- Evaluate simple arithmetic expressions in Python.

## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

### John Duggan